/* HTML body */
body{
    background:#EEA47FFF;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}

/* Header Section */
h1,h2,h3,h4,h5,h6{

    margin: 50px auto 25px;
   
}

/* Horizontal line styling */
.horizontal-line{
    
    background-color: #ffffff;
    height:0px;
    width:50%;
    margin-bottom: 25px;
    
}

/* Submit button styling */
.submit-button{
    margin-top: 20px;
}

/* Table styling */
.table-width{
    width:100%;
    table-layout:fixed
}

/* Footer styling */
.footer {
    bottom: 0;
    width: 100%;
    margin-top: 500px;;
 }

 #text{
    visibility: hidden;
 }


 
