body{
    background:#EEA47FFF;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}


h1,h2,h3,h4,h5,h6{

    margin: 50px auto 25px;
   
}

.horizontal-line{
    
    background-color: #ffffff;
    height:0px;
    width:50%;
    margin-bottom: 25px;
    
}

.submit-button{
    margin-top: 20px;
}

.table-width{
    width:100%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* margin-top:200px; */
    
 }

