body{
    background:#EEA47FFF;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}


h1,h2,h3,h4,h5,h6{

    margin: 50px auto 25px;
    text-align: center;
}

.horizontal-line{
    
    background-color: #ffffff;
    height:0px;
    width:50%;
    margin-bottom: 25px;
    
}

.submit-button{
    margin-top: 20px;
}

.table-width{
    width:100%;
}
