{% extends "base.html"%}

{% block body %}

    <div class="jumbotron-fluid">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <form  method="POST">
                    {# This hidden_tag is a CSRF security feature. #}
                    {{ form.hidden_tag() }}
                    {{ form.name.label }} {{form.name}}
                    <br>
                    {{form.product.label}} {{form.product}}
                    <br>
                    {{form.review.label}} {{form.review}}
                   <br>
                    {{ form.submit(class='common-background-color') }}
                </form>
            </div>
        </div>
    </div>

    <!-- <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 ">
                  <h4>Reviews</h4>      
            </div>
        </div>
    </div> -->
            
{% endblock %}
